@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  background-image: url("gradient.jpg");

  


}

header {
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #3853ee;
  box-shadow: 0 0 90px #3853ee;
  text-decoration: none;
  color:#f2f2f2;
  margin: 0 auto;
  max-width: 800px;
 

}


h2{
  color:#626262
}

P{
  color: #626262;
  font-size: 16px;
}

li{
  color: #626262;
}

.button-container {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #bb00ff;
  box-shadow: 0 0 10px #bb00ff;
  text-decoration: none;
  color: #f2f2f2;
  font-weight: 600;
  margin: 0 10px;
}

.formcontainer {
  background-color: #f2f2f2;
  padding: 40px 40px 40px 40px;
  border-radius: 20px;
  box-shadow: 0 0 490px #3853ee;
  max-width: 800px;

  
}

.abouttextcontainer{
  background-color: #f2f2f2;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 0 190px #3853ee;
  
}

.instructionstextcontainer{
  background-color: #f2f2f2;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 40px;
  padding-left: 50px;
  border-radius: 20px;
  box-shadow: 0 0 190px #3853ee;
  
}




.form-table {
  display: grid;
  grid-gap: 20px;
  margin-bottom: 20px;
}

.column {
  display: flex;
  flex-direction: column;
}

label {
  font-weight: 500;
  color: #626262;
  margin-bottom: 5px;
}

input[type="text"],
select {
  padding: 8px;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px rgb(214, 214, 214);
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  color: rgb(131, 131, 131);
}

.generate-button {
  width: 100%;
  height: 40px;
  border-radius: 20px;
  font-weight: 600;
  border-radius: 20px;
  background-color: #bb00ff;
  box-shadow: 0 0 10px #bb00ff;
  text-decoration: none;
  color: #f2f2f2;
  outline: none;
}

.h1container {
  max-width: 80vw;
  margin: 0 auto;
}

.formcontainer {
  max-width: 80vw;
  margin: 0 auto;
}


.abouttextcontainer {
  max-width: 800vw;
  margin: 0 auto;
} 

.instructionstextcontainer {
  max-width: 800vw;
  margin: 0 auto;
}

.form-table {
  grid-template-columns: repeat(1, 1fr);
}


.form-table {
  grid-template-columns: repeat(1, 1fr);
}

.button{
padding: 15px 50px;
font-size: 22px;
}




@media (min-width: 500px) {
  header {
    margin-bottom: -20px;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;

  }

  .button-container {
    justify-content: center;
  }
 
  P{
    color: #626262;
    font-size: 20px;
  }


  .h1container {
    max-width: 800px;
    margin: 0 auto;
  }


  .formcontainer {
    max-width: 800px;
    margin: 0 auto;
  }


  .abouttextcontainer {
    max-width: 800px;
    margin: 0 auto;
  } 
  
  .instructionstextcontainer {
    max-width: 800px;
    margin: 0 auto;
  }

  .form-table {
    grid-template-columns: repeat(2, 1fr);
  }


  
}